h1 {
	background-color: gold;
}

button.filter-options-save {
	display: block;
	margin-top: 25px;
}

.filter-shipping-rates.components-notice-list
.components-notice {
	margin: 0 0 25px 0;
}

.filter-shipping-rates.components-panel__row {
	padding-top: 15px;
}
